@import "bootstrap";
span {
  color: red;
  font-size: 15px;
}
.span-padding {
  padding-bottom: 5px;
}
.dcenter {
  padding: 30px;
}
.floatr {
  float: right;
}
.width1 {
  width: 10%;
}
.width2 {
  width: 15%;
}
.width3 {
  width: 30%;
}
.width4 {
  width: 20%;
}
.inline1 {
  display: inline-block;
}
p {
  font-size: 25px;
  font-weight: bold;
}
.label1 {
  width: 120px;
}
.links {
  font-size: 20px;
  border-style: none;
}
.head1 {
  font-size: 27px;
  font-weight: bold;
}
.p-white {
  color: white;
}
